@model DGTradesIn.Models.Transcation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transcation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionResponse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserGamer.GamerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGamer.GamerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserGamer1.GamerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGamer1.GamerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
