@model DGTradesIn.Models.CartGameCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CartGameCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cart.CartID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.CartID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameCode1.GameCodeImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameCode1.GameCodeImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartGameCodeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
