@using Microsoft.AspNet.Identity




@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">


    @if (Session["userID"] != null)
    {
        <li>
            @Html.ActionLink("My Account", "Edit", "Users", new { id = Session["userID"].ToString() }, null)

        </li>
        <li>
            @Html.ActionLink("My Games", "Index", "GameCodes")
        </li>
        <li>
            @Html.ActionLink("View Cart", "GetMyCart", "Carts", new { user = Session["userID"].ToString() }, null)
        </li>
        <li>
            @Html.ActionLink("Swap Requests", "index", "Transcations", null, null)
        </li>
        <li>
            @Html.ActionLink("Swap Approvals", "GetMySwapRequests", "Transcations", null, null)
        </li>
    }
    else
    {

    }
    <li>

        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>


    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }

    <ul>

        

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
